html {
  font: 300 16px sans-serif;
}

a {
  color: inherit;
  &:hover { text-decoration: underline; }
}

.site-header {
  text-align: center;

  nav {
    color: bcf-colors(pale, sky);
    background: bcf-colors(bluebell);
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;

    li {
      display: inline-block;
      padding: 0 25px;
    }
  }

  h1 {
    color: bcf-colors(pale);
    background: bcf-colors(leaf) url("/assets/images/alsemberg_11_smudged.jpg") center;
    background-size: cover;
    height: 220px;
    line-height: 220px;
    font-size: 4.5rem;
    font-weight: 400;
    text-shadow: 0 1px 3px rgba(0,0,0,.45);
  }
}

.home-main {
  color: #444;
  font-size: 1.25rem;
  font-weight: 300;
  width: 700px;
  margin: 0 auto;

  > section {
    padding: 60px 0;
  }
  > section + section {
    border-top: solid 1px bcf-colors(pale, sky);
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    margin: 0 0 30px 0;
  }
}
