---
layout: default
---

<main class="home-main">
  <section id="about">
    <h2>About me</h2>
    <p>I'm a full stack developer based in Scottsdale, Arizona.</p>
  </section>

  <section id="projects">
    <h2>Projects</h2>
    <h3>Sushi site</h3>
    <ul>
      <li>
        <a href="https://bcf-sushi-app.herokuapp.com/" target="_blank">Heroku deployment</a>
      </li>
      <li>
        <a href="https://github.com/bcfore/LS_frontend_courses/tree/master/260_JS_3/08_practice_projects/sushi_site" target="_blank">Source code</a>
      </li>
    </ul>
  </section>

</main>
